<div class="page home">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

    <div class="desctext">
        sua melhor opção
    </div>
    <div class="desc">
        financeira
    </div>

            </div></div></div>

</div>
