<header id="head">

</header>

<router-outlet></router-outlet>


<section class="newsletter">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-10">
        <h4>Inscreva-se em nossa Newsletter</h4>
        <form method="get">
          <input type="text" name="email" value="" placeholder="Seu E-mail" />
          <button type="submit" class="search-go">Enviar</button>

        </form>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div>
    </div>
  </div>
</footer>
