<main>
  <style>
    .carousel-caption {
      right: 15% !important;
      left: 15% !important;
    }

    #slider h2 {
      color: rgb(255, 255, 255);
      font-size: 145px;
      letter-spacing: 5px !important;
      text-transform: uppercase;
      font-weight: bold;
    }
  </style>


  <section id="slider">
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/images/slide-01.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="animate__animated animate__fadeInDownBig">Aprenda</h3>
              <h2 class="animate__animated animate__fadeInUpBig">Angular</h2>
              <button class="animate__animated animate__fadeInUpBig animate__delay-1s">Saiba Mais</button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/images/slide-02.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="animate__animated animate__fadeInDownBig">Sabe o que são</h3>
              <h2 class="animate__animated animate__fadeInUpBig">DIRETIVAS?</h2>
              <button class="animate__animated animate__fadeInUpBig animate__delay-1s">Saiba Mais</button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/images/slide-03.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="animate__animated animate__fadeInDownBig">Descubra mais sobre</h3>
              <h2 class="animate__animated animate__fadeInUpBig">PIPES</h2>
              <button class="animate__animated animate__fadeInUpBig animate__delay-1s">Saiba Mais</button>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>

  <section class="calltoaction">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="animate__animated animate__fadeInUp">Aprenda as vantagens de um dos frameworks mais utilizados no
            mundo e requisitados no mercado!</h2>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid imgbg-02">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="texto1 animate__animated animate__fadeInLeft">Aprenda de verdade</div>
              <div class="texto2 animate__animated animate__fadeInRight ">Nosso objetivo é fornecer ferramentas criativas que
                ajude qualquer pessoa a aprender Angular2.</div>
              <p class="animate__animated animate__fadeInDown ">Através de um material didático pensado em você que quer aprender esse framework e qu nunca teve cotato com nenhuma outra linguagem de programação.</p>
            </div>
            <div class="col-lg-6">
              <img src="../assets/images/logo-angular-3d.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 imgesq">
          <div class="subimageesq"></div>
        </div>
        <div class="col-lg-6 pad100">          
          <div class="texto1a animate__animated animate__fadeInDown">Tudo o que você precisa em um só lugar</div>
          <div class="texto2 animate__animated animate__fadeInUp ">Nossa equipe desenvolvel esse material divido emtópicos desde a instalação até o desenvolvimento de projetos.</div>
          <p class="animate__animated animate__fadeInDown ">Comece agora mesmo a criar aplicatuvos com um dos frameworks mais utilizados no mundo.</p>

          <ul class="listhome">
            <li><img src="../assets/images/ico-calculadora.png"> Crie uma incrível calculadora</li>
            <li><img src="../assets/images/icon-assignment.png"> Crie um gerenciador de tarefas</li>
            <li><img src="../assets/images/icon-converter.png"> Crie um conversor de moedas</li>
            <li><img src="../assets/images/icon-jogo-da-velha.png"> Crie um incrível jogo da velha</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>